body{
  margin: 0;
}
.content{
  padding-top: 80px;
}
/* AppBar */
.appbar-wrapper{
  position: fixed;
  z-index: 9999;
  margin: 0px;
  padding: 0px;
  top: 0px;
  width: 100%;
}
.header{
  margin-top: 13px;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
}
/* basket */
.basket-wrapper{
  display: inline-block;
}
.notification-icon{
  background-color: #fb3a0e;
  color: white;
  font-weight: bold;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}
.basket-icon{
  margin: 0 15px 0 15px;
  transform: scale(1.85);
}
.footer{
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.center-align{
  margin: 0 auto;
}
.menu-item-link{
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.menu-icon-wrapper{
  padding-top: 5px;
}
